<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>
  <h1>Upload form</h1>
  <form class="form" id="upload-form" enctype="multipart/form-data">
    <input type="file" name="inp-files" id="inp-files" multiple><br>
    <input class="button" type="submit" value="upload">
  </form>

  <div class="progress-bar" id="progress-bar">
    <div class="progress-bar-fill">
      <span class="progress-bar-text">0%</span>
    </div>
  </div>
</body>
<script src="static/index.js"></script>
</html>