<!DOCTYPE html>
<html lang="en">
<head></head>
<style>
  .progress-bar {
    height: 35px;
    width: 250px;
    border: 2px solid darkblue;
  }

  .progress-bar-fill {
    height: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    transition: width 0.25s;

  }
</style>
<body>
  <h1>Upload form</h1>
  <form class="form" id="upload-form" enctype="multipart/form-data">
    <input type="file" name="inp-files" id="inp-files" multiple><br>
    <input class="button" type="submit" value="upload">
  </form>

  <div class="progress-bar" id="progress-bar">
    <div class="progress-bar-fill">
      <span class="progress-bar-text">0%</span>
    </div>
  </div>
</body>
<script>
  const uploadForm = document.getElementById('upload-form')
const inpFile = document.getElementById('inp-files')
const progressBarFill = document.querySelector('#progress-bar > .progress-bar-fill')
const progressBarText = progressBarFill.querySelector('.progress-bar-text')

uploadForm.addEventListener('submit', uploadFile)

function uploadFile(e) {
    e.preventDefault()

    const xhr = new XMLHttpRequest()

    xhr.open('POST', '/upload')
    xhr.upload.addEventListener('progress', e => {
      const percentage = e.lengthComputable ? (e.loaded / e.total) * 100 : 0
      progressBarFill.style.width = percentage.toFixed(2) + "%"
      progressBarText.textContent = percentage.toFixed(2) + "%"
        console.log(e)
    })

    //xhr.setRequestHeader('Content-Type', 'multipart/form-data')
    xhr.send(new FormData(uploadForm))
}
</script>
</html>